@import url("https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-weight: 300;
  line-height: 1.7;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 15px;
  line-height: 1.4;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.header .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  padding-left: 15px;
  padding-right: 15px;
}

.slide-text h2 {
  color: #1f1f1f;
  font-size: 40px;
}

.slide-text p {
  font-size: 18px;
}

.primary-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}

.hero-area {
  padding: 30px 0px;
}

.hero-area .carousel-indicators li {
  background-color: #cecece;
  opacity: 1;
  width: 16px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  border: 0px;
  transition: all 0.3s ease;
}

.hero-area .carousel-indicators li.active {
  background: linear-gradient(
    90deg,
    rgba(255, 156, 53, 1) 0%,
    rgba(255, 208, 25, 1) 100%
  );
  width: 45px;
}
