@import url("https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-weight: 300;
  line-height: 1.7;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 15px;
  line-height: 1.4;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.header .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  padding-left: 15px;
  padding-right: 15px;
}
